\---
layout: default
title: Schedule
\---

%p
  The accepted paper list is as follows. The papers are listed alphabetically by first author. The paper titles may change slightly in the final schedule. The accepted poster list will be announced soon.

%ul.unstyled
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Web-Based Visual Analytics for Social Media
    %br
    = succeed "," do
      Daniel Best
    = succeed "," do
      Joe Bruce
    = succeed "," do
      Scott Dowson
    Oriana Love
    and
    Liam McGrath
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Visualizing Instagram: Tracing Cultural Visual Rhythms
    %br
    %a{ :href => "http://nadavhochman.net" } Nadav Hochman
    and
    %a{ :href => "http://razschwartz.net" } Raz Schwartz
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Visualization of the Public's Opinion on Politically Influential Tweets
    %br
    Tanyoung Kim
    and
    Carl Disalvo
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Visualizing a Personal Timeline By Adding Multiple Social Contexts
    %br
    = succeed "," do
      Haewoon Kwak
    = succeed "," do
      Yoonsung Hong
    Jinyoung You
    and
    Sue Moon
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Posting Behavior on Social Media Streams toward Temporal Bias
    %br
    Bumsuk Lee
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Distilling Massive Amounts of Data into Simple Visualizations: Twitter Case Studies
    %br
    Miguel Rios
    and
    Jimmy Lin
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Visualizing Information Diffusion and Polarisation with Key Statements
    %br
    = succeed "," do
      %a{ :href => "http://www.bbrel.co.uk" } Andrew Salway
    = succeed "," do
      Nicholas Diakopoulos
    and
    Dag Elgesem
  %li{ :style => "margin: 0 20px 20px 0;" }
    %b
      Cultural Analytics of Large Datasets from Flickr
    %br
    = succeed "," do
      Daniela Ushizima
    = succeed "," do
      Lev Manovich
    = succeed "," do
      Todd Margolis
    and
    Jeremy Douglass