\---
layout: default
title: Schedule
\---

%p
  The schedule is as follows.

%table.table-bordered
  %tbody
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        09:00 - 10:30
      %td{ :width => "85%" }
        %b
          Opening Session
        %br
        %i
          Chair: Eser Kandogan
    %tr
      %td
      %td
        %b
          Welcome and Introduction
    %tr
      %td
      %td
        %b
          Hubble Telescope for Community Activity: Focusing on Social Media Visual Analytics
        %br
        Keynote Speaker:
        %a{ :href => "http://www.cs.umd.edu/~ben" } Ben Shneiderman
    %tr
      %td
      %td
        %b
          Attendee Fast Forward Session
        %br
        This session will allow any participant of the workshop to freely address the attendees for one minute. The session is free form and participants are encouraged to state their background, goals, and topics of interest with respect to visualization and social media.
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        10:30 - 11:00
      %td{ :width => "85%" }
        %b
          Break and Poster Session
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        11:00 - 12:30
      %td{ :width => "85%" }
        %b
          Paper Session I: Images, Blogs and Streams
        %br
        %i
          Chair: Daniel Archambault
    %tr
      %td
      %td
        %b
          Visualizing Instagram: Tracing Cultural Visual Rhythms
        %br
        %a{ :href => "http://nadavhochman.net" } Nadav Hochman
        and
        %a{ :href => "http://razschwartz.net" } Raz Schwartz
    %tr
      %td
      %td
        %b
          Cultural Analytics of Large Datasets from Flickr
        %br
        = succeed "," do
          Daniela Ushizima
        = succeed "," do
          Lev Manovich
        = succeed "," do
          Todd Margolis
        and
        Jeremy Douglass
    %tr
      %td
      %td
        %b
          Posting Behavior on Social Media Streams toward Temporal Bias
        %br
        Bumsuk Lee
    %tr
      %td
      %td
        %b
          Visualizing Information Diffusion and Polarisation with Key Statements
        %br
        = succeed "," do
          %a{ :href => "http://www.bbrel.co.uk" } Andrew Salway
        = succeed "," do
          Nicholas Diakopoulos
        and
        Dag Elgesem
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        12:30 - 13:30
      %td{ :width => "85%" }
        %b
          Lunch and Poster Session
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        13:30 - 15:00
      %td{ :width => "85%" }
        %b
          Applications Panel
        %br
        %i
          Chair: Daniel Archambault
        %br
        This panel includes participants with varied perspectives on the application of visualization to other academic disciplines and industry to understand social media data sources. Panel members are not from the visualization community, but are rather researchers from the social sciences and humanities as well as members of industry.
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        15:00 - 15:30
      %td{ :width => "85%" }
        %b
          Break and Poster Session
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        15:30 - 17:00
      %td{ :width => "85%" }
        %b
          Paper Session II: Microblogs
        %br
        %i
          Chair: Martin Harrigan
    %tr
      %td
      %td
        %b
          Distilling Massive Amounts of Data into Simple Visualizations: Twitter Case Studies
        %br
        Miguel Rios
        and
        %a{ :href => "http://www.umiacs.umd.edu/~jimmylin" } Jimmy Lin
    %tr
      %td
      %td
        %b
          Visualizing a Personal Timeline By Adding Multiple Social Contexts
        %br
        = succeed "," do
          Haewoon Kwak
        = succeed "," do
          Yoonsung Hong
        Jinyoung You
        and
        Sue Moon
    %tr
      %td
      %td
        %b
          Web-Based Visual Analytics for Social Media
        %br
        = succeed "," do
          Daniel Best
        = succeed "," do
          Joe Bruce
        = succeed "," do
          Scott Dowson
        Oriana Love
        and
        Liam McGrath
    %tr
      %td
      %td
        %b
          Visualization of the Public's Opinion on Politically Influential Tweets
        %br
        Tanyoung Kim
        and
        Carl Disalvo
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        19:00
      %td{ :width => "85%" }
        %b
          Social event at
          = succeed "." do
            %a{ :href => "http://www.yelp.ie/biz/lincolns-inn-dublin" } Lincoln's Inn
          See
          %a{ :href => "media/social_event_venue.jpg" }
            map
          for directions from the workshop venue.